.sub-banner-container {
  padding: 2rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #fff7eb;
}

.sub-banner__top-title,
.sub-banner__bottom-title {
  font-size: 155px;
  font-family: "HF Gesco", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #cd8e54;
  text-align: center;
}

.sub-banner__img {
  position: relative;
  margin-bottom: 35rem;
}

.frame {
  position: absolute;
}

.frame-1 {
  position: absolute;
  width: 280px;
  top: -25px;
  left: -230px;
  z-index: 2;
}

.frame-2 {
  position: absolute;
  width: 280px;
  top: -55px;
  left: -30px;
  z-index: 1;
}

.frame-3 {
  top: 50px;
  left: -480px;
}

.frame-4 {
  top: -20px;
  right: -480px;
}

.sub-banner__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 241, 236, 0.9);
  max-width: 350px;
  padding: 2rem 2.5rem;
  gap: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 530px;
  left: 630px;
  z-index: 3;
}

.banner-modal__desc {
  text-align: center;
  font-family: "BT Beau Sans", sans-serif;
  font-size: 16px;
}

.banner-modal__button {
  background-color: #673e2f;
  border: 1px solid #673e2f;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  color: #fcf7ee;
  fill: #fcf7ee;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4em;
  color: #fcf7ee;
  font-family: "BT Beau Sans", sans-serif;
}

.banner-modal__button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #673e2f;
}
