.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/footer-bg-img.png");
  font-family: "BT Beau Sans", sans-serif;
  color: #fff;
  padding: 5rem 1rem 2rem 1rem;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 2rem;
  border-bottom: 1.5px solid rgba(217, 217, 217, 0.43);
}

.info__contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info__text {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
}

.contact-info__info-with-icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  font-size: 16px;
  flex-wrap: wrap;
}

.footer-location {
  align-self: flex-start;
}

.text__contact > p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.text__info > p,
.text__order > p {
  font-size: 18px;
  font-weight: 600;
}

.text__info,
.text__order {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text__info a,
.text__order a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.info__contact-register {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 3rem;
}

form {
  position: relative;
}

form input {
  min-height: 42px;
  min-width: 256px;
  border-radius: 6px 0 0 6px;
  border: none;
  font-family: "BT Beau Sans", sans-serif;
  font-size: 14px;
  padding: 0.5rem;
}

form button {
  min-height: 42px;
  min-width: 50px;
  position: absolute;
  top: 0;
  border-radius: 0 6px 6px 0;
  border: none;
  background-color: #fcc480;
  color: #fff;
}

.contact-register__social-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 2rem 0.5rem 0.5rem 1rem;
  }

  .footer__info,
  .contact-info__text {
    gap: 1rem;
  }
}

@media (max-width: 640px) {
  .footer-container {
    padding: 1rem 0;
    background: none;
    background-color: #673e2f;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .contact-info__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }
}
