.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff7eb;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  font-family: "BT Beau Sans", sans-serif;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}